.header {
  padding: 30px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a3eeff;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
}
